<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>e49</string>
				<string>E49</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XStt</string>
			<key>CFBundleTypeName</key>
			<string>Emu48 HP49G State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XStt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-state-e49</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>e48</string>
				<string>E48</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XStt</string>
			<key>CFBundleTypeName</key>
			<string>Emu48 HP48S[X]/G[X] State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SStt</string>
				<string>GStt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-state-e48</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>e39</string>
				<string>E39</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XStt</string>
			<key>CFBundleTypeName</key>
			<string>Emu48 HP39/40G State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EStt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-state-e39</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>e38</string>
				<string>E38</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XStt</string>
			<key>CFBundleTypeName</key>
			<string>Emu48 HP38G State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AStt</string>
				<string>6Stt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-state-e38</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>w48</string>
				<string>W48</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XStt</string>
			<key>CFBundleTypeName</key>
			<string>Win48 State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SStt</string>
				<string>GStt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-state-w48</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kml</string>
				<string>KML</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>KML File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-kml</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CalcDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>EROM</string>
			<key>CFBundleTypeName</key>
			<string>HP Rom Image</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-rom</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ERAM</string>
			<key>CFBundleTypeName</key>
			<string>HP Port RAM Image</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-ram</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hp</string>
				<string>HP</string>
				<string>lib</string>
				<string>LIB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>EOBJ</string>
			<key>CFBundleTypeName</key>
			<string>HP Stack Object</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dw.emu48-stack</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Emu48</string>
	<key>CFBundleIconFile</key>
	<string>EM48</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Emu48</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.47.1</string>
	<key>CFBundleSignature</key>
	<string>EM48</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Emu48 HP49G State</string>
			<key>UTTypeIconFile</key>
			<string>XStt</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-state-e49</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>e49</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>XStt</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>e49</string>
					<string>E49</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Emu48 HP48S[X]/G[X] State</string>
			<key>UTTypeIconFile</key>
			<string>XStt</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-state-e48</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>e48</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>SStt</string>
					<string>GStt</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>e48</string>
					<string>E48</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Emu48 HP39/40G State</string>
			<key>UTTypeIconFile</key>
			<string>XStt</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-state-e39</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>e39</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>EStt</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>e39</string>
					<string>E39</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Emu48 HP38G State</string>
			<key>UTTypeIconFile</key>
			<string>XStt</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-state-e38</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>e38</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>AStt</string>
					<string>6Stt</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>e38</string>
					<string>E38</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Win48 State</string>
			<key>UTTypeIconFile</key>
			<string>XStt</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-state-w48</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>w48</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>SStt</string>
					<string>GStt</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>w48</string>
					<string>W48</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HP Stack Object</string>
			<key>UTTypeIconFile</key>
			<string>EOBJ</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>EOBJ</string>
				<key>public.filename-extension</key>
				<array>
					<string>hp</string>
					<string>HP</string>
					<string>lib</string>
					<string>LIB</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HP Port RAM Image</string>
			<key>UTTypeIconFile</key>
			<string>ERAM</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-ram</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ERAM</string>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HP Rom Image</string>
			<key>UTTypeIconFile</key>
			<string>EROM</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>IROM</string>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KML File</string>
			<key>UTTypeIdentifier</key>
			<string>com.dw.emu48-kml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>KML</string>
					<string>kml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
